<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devopsweb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Devopsweb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 header-style">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Devopsweb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                                             
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Skills" asp-action="TechnicalSkills">Technical Skills</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="contact-me-content">
            <div class="contact-item">
                <a href="https://www.linkedin.com/in/filip-detterfelt-692154252/" target="_blank">
                <img class="linkedin" src="~/Images/linkedin.png" alt="LinkedIn">
                </a>
            </div>
            <div class="contact-item">
                <a href="https://github.com/filipdetterfelt" target="_blank">
                <img class="github" src="~/Images/github2.png" alt="GitHub">
                </a>
            </div>
            <div class="contact-item">
                <img class="phone" src="~/Images/phone.png" alt="Phone">
                <span class="contact-text">070-265 86 96</span> 
            </div>
            <div class="contact-item">
                <a href="mailto:fillip.detterfelt@gmail.com" target="_blank">
                <img class="mail" src="~/Images/mail.png" alt="Mail">
                <span class="contact-text-mail">fillip.detterfelt@gmail.com</span> 
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
