@{
    ViewData["Title"] = "TechnicalSkills";
}

<h1>Technical Skills</h1>
<p>Here is my skills</p>
<br />

<!--Databas-->
<div class="card-group">
    <h3 class="group-title">Database</h3>
    <div class="card-deck">
        <div class="card">
            <div class="card body">
                <h5 class="card-title">MySQL</h5>
            </div>
        </div>
    </div>
</div>

<!--Frontend-->
<div class="card-group">
    <h3 class="group-title">Frontend</h3>
    <div class="card-deck">
        <div class="card">
            <div class="card body">
                <h5 class="card-title">HTML</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">CSS</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">JavaScript</h5>
            </div>
        </div>
    </div>
</div>

<!--Backend-->
<div class="card-group">
    <h3 class="group-title">Backend</h3>

    <div class="card-deck">
        <div class="card">
            <div class="card body">
                <h5 class="card-title">Java</h5>

            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">Kotlin</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">C#</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">OOP</h5>
            </div>
        </div>
    </div>
</div>

<!--Others-->
<div class="card-group">
    <h3 class="group-title">Others</h3>

    <div class="card-deck">
        <div class="card">
            <div class="card body">
                <h5 class="card-title">JSON</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">JDBC</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">GITHUB</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">Bootstrap</h5>
            </div>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">Spring Framework</h5>
            </div>
        </div>


    </div>
</div>





