
@{
    ViewData["Title"] = "TechnicalSkills";
}

<h1>Technical Skills</h1>
<p>Here is my skills</p>
<br/>
<div class="card-deck">
    <h3>Backend</h3>
    <div class="card">
        <div class="card body">
            <h5 class="card-title">Java</h5>
           
        </div>
    </div>

    <div class="card">
        <div class="card body">
            <h5 class="card-title">Kotlin</h5>        
        </div>
    </div>

    <div class="card">
        <div class="card body">
            <h5 class="card-title">C#</h5>         
        </div>
    </div>

    <div class="card">
    <div class="card body">
        <h5 class="card-title">Object Oriented Programming</h5>

    </div>

</div>
<div class="card-deck">
    <h3>Frontend</h3>
    <div class="card">
        <div class="card body">
            <h5 class="card-title">HTML</h5>
        </div>

        <div class="card">
            <div class="card body">
                <h5 class="card-title">CSS</h5>
            </div>

            <div class="card">
                <div class="card body">
                    <h5 class="card-title">JavaScript</h5>
                </div>

    </div>

            <div class="card-deck">
                <h3>Database</h3>
                <div class="card">
                    <div class="card body">
                        <h5 class="card-title">MySQL</h5>
                    </div>                  
                        </div>

                <div class="card-deck">
                    <h3>Other technologies</h3>
                    <div class="card">
                        <div class="card body">
                            <h5 class="card-title">JSON</h5>
                        </div>

                        <div class="card">
                            <div class="card body">
                                <h5 class="card-title">JDBC</h5>
                            </div>

                            <div class="card">
                                <div class="card body">
                                    <h5 class="card-title">GITHUB</h5>
                                </div>

                                <div class="card">
                                    <div class="card body">
                                        <h5 class="card-title">Bootstrap</h5>
                                    </div>

                                    <div class="card">
                                        <div class="card body">
                                            <h5 class="card-title">Spring Framework</h5>
                                        </div>


                    </div>
    





