@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi, this is my website where I plan to present some of the technologies and languages I can use, some of which I am more proficient in than others.</p>
</div>
