@{
    ViewData["Title"] = "Home Page";
}

<div class="index-background">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi, my name is Filip Detterfelt, and I am a 28-year-old studying to become a Java developer.<br/> On this page, you can click in and read more about the technologies I have worked with.<br/>
            Please click on the image to get my linkedin profile !"
        </p>
    <a class="profil-link" href="https://www.linkedin.com/in/filip-detterfelt-692154252/" 
    title="Visit my LinkedIn profile :)">
    <img class="profile-img" src="Images/Jag22024.jpg" alt="Picture of me">
</a>
</div>
</div>
