@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@model List<Devopsweb.Models.SkillsModel>

<div class="index-container">
    
    <div class="content">
        <div class="text-content">
            <p class="welcome-message">Hello, My name is</p>
            <p class="user-name">Filip Detterfelt</p>
            <p class="student-role">I´m a Java Developer student</p>
            <p class="description">Welcome to my portfolio webpage.<br /> Here, I will showcase the technologies I am proficient in<br /> and provide links to some of my GitHub repositories.</p>
        </div>
        <div class="content-image">
            <img class="profile-img" src="Images/filipbild.png" alt="Picture of me">
        </div>
    </div>
</div>





<div class="flex-container">
    <div class="technical-skills">
        <h1 class="group-title">Technical Skills</h1>
        <div class="card-group">
            <div class="card-container">
                <div class="card-deck">
                    @foreach (var skill in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@skill.Title</h5>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="projects">
        <h1 class="group-title">My Projects</h1>
        <div class="card-group">
            <div class="card-container">
                <div class="card-deck">
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/Backend-Pensionat" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">Pensionat Koriander</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/Webbshopenv2" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">Webbshopen</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/The-Exchanger" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">The-Exchanger</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/Quizkampen" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">Quizkampen</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/spelFemtonVG" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">15-Game</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://github.com/filipdetterfelt/PasswordCracker" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <h5 class="card-title">Password-Cracker</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


