html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media(max-width: 1600px){
    .flex-container {
        flex-wrap: wrap;
        align-items:center;
        justify-content:center;
    }
}

@media(max-width: 768px) {
    .flex-container, .technical-skills, .projects, main, .container, .card-container {
        width: 100vw;
        display: block;
    }
}

.index-background {
    background-image: url('Images/imageindex.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.6), 0 0 0 0.25rem rgba(38, 140, 251, 0.6);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1E1E2F; 
}

h1, h3, h5 {
    color: #00BFFF; 
}

p {
    color: #A9D3E7;
}

.card-title {
    color: #FFD700;
    font-size: 0.8em;
}

.card-deck h3 {
    color: #66B3FF !important;
}

.card {
    background-color: #2A2A38;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s; 
}

    .card:hover {
        transform: scale(1.05); 
    }

.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-body {
    text-align: center;
}

.card-group {
   margin-top: 15px;
}

.group-title {
    text-align: center;
    margin-bottom: 15px;
    color: #00BFFF; 
    font-size: 1.5em;
}

.profile-link {
    display: inline-block;
}


.card-img-top {
    width: 100%;
    height: auto;
}

.card-container {
    border: 2px solid #00BFFF;
    border-radius: 10px;
    padding: 15px;
    background-color: #2A2A38;
    width: 100%;
    min-height: 500px;
}

.flex-container{
    align-items:center;
    display: flex;
    justify-content: center;
    margin: 150px 0;
    gap: 40px;
    height:auto;
}

.technical-skills, .projects {
    flex: 0 1 45%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s, margin 0.6s;
    min-height: 500px;
    
}

.technical-skills:hover, .projects:hover {
        transform: scale(1.25);    
}

h1,p{
    margin:0;
    padding:0;
}

.index-container {
    margin: 0;
    padding: 20px;
}

.content {
    display: flex; /* Flexbox för att placera text och bild på samma rad */
    align-items: center; /* Vertikal centrering */
    margin-top: 20px;
}

.welcome-message {
    font-size: 40px;
    
}

.text-content {
    margin-right: 20px; /* Avstånd mellan text och bild */
}

.user-name {
    font-size: 60px;
}

.student-role {
    font-size: 40px;
}

.description {
    font-size: 20px;
}

.content-image {
    margin-left: 20px; 
}

.profile-img {
    height: 400px; 
    width: auto; 
    margin-left:300px;
    
}

.footer {
    display: flex;
    justify-content: center; 
    padding: 10px;
}

.contact-me-content {
    display: flex; 
    justify-content: center; 
    gap: 60px; 
}

.contact-item {
    display: flex; /* Flexbox för att placera bild och text på samma rad */
    align-items: center; /* Vertikal centrering av bild och text */
    gap: 10px; /* Avstånd mellan bild och text */
}

.contact-me img {
    width: 60px; /* Storlek på ikonerna */
    height: auto; /* Bevara proportioner */
}

.contact-text {
    color: #A9D3E7; /* Justera textfärgen om det behövs */
}

.contact-item a {
    text-decoration: none;
    color: inherit;
}

.contact-text-mail{
    margin-left:10px;
}

.header-style {
   background-color: #1E1E2F;
}
.header-style .navbar-brand,
.header-style .nav-link {
  color: #FFD700 !important; /* Använder !important för att överskrida eventuella andra regler */
}

.header-style .navbar-toggler-icon {
 background-color: #FFD700; /* Om du vill ändra färgen på hamburgerikonen för mobilen */
}